<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- bulma -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- fontawesome icon -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <!-- js import -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <title>Favorite MovieStar</title>
    <style>
      .head-title {
        text-align: center;
        background-color: #ffdd57;
        height: 150px;
        padding: 1rem;
      }
      .star-list {
        width: 500px;
        margin: 20px auto 0 auto;
      }
      .star-name {
        display: inline-block;
      }
      .card {
        margin-bottom: 15px;
      }
    </style>
  </head>
  <body>
    <script>
      const favoriteMovieStarList = new MovieStarList();

      window.onload = function () {
        favoriteMovieStarList.initialize();
      };
    </script>
    <!-- header -->
    <div id="container">
      <div class="head-title">
        <h1>내 최애 영화배우!!</h1>
        <h2>최애 영화배우의 순위를 정해 봅시다!!</h2>
      </div>
      <!-- render  -->
      <ul id="favoriteStarList"></ul>
    </div>
  </body>
</html>
